*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

/* rules */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

/* Common */

.col{
    float: left;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    list-style-type: none;
}

.btn-small{
    border: 1px solid none;
    padding: 10% 15%;
}

.btn-big{
    padding: 2% 0;
    text-align: center;
    cursor: pointer;
}

.blue-button{
    background-color: #0061ff;
    color: white;
}

.blue-button:hover{
    background-color: #3c84ff;
}

/* images */

.discord-logo{
    height: 25px;
    width: auto;
    cursor: pointer;
    vertical-align: middle;
    
}

/* Header */
header{
    top: 0;
    width: 100%;
    height: 65.22px;
    text-align: center;
    position: fixed;
}

.header-container{
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 20px 0;
    
}

.header-container .col{
    float: left;
    padding: 0 20px;
}

.image-col{
    width: 10%;
    text-align: left;
}

.left-col{
    width: 40%;
    text-align: left;
    
}

.right-col{
    width: 50%;
    text-align: right;
    
}

.left-header-menu li{
    padding-right: 50px;
    font-weight: bold;
}

.right-header-menu li{
    padding-left: 50px;
    font-weight: bold;
}

#initial-button{
    margin-right: 40px;
    
}

/* MAIN */

main{
    margin-top: 65.22px;
    margin-bottom: 500px;
}

/* JUMBOTRON */

.jumbotron{
    width: 100%;
    margin: auto;
    height: 800px;
    background-color: #b4d0e7;

}

.jumbotron-container h1{
    font-size: 85px;
}

.jumbotron-container{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.jumbotron-layout{
    margin-top: 40px;
}

.jumbotron-text-col{
    width: 33%;
    padding-right: 1%    
}

.jumbotron-img-col{
    width: 64%;;
}

.jumbotron-text-row{
    margin-top: 20px;
    width: 60%;
}

/* BUSINESS */

.business-section{
    margin-top: 250px;
}

.business-container{
    width: 65%;
    margin: auto;
    height: 500px;
}

.business-container h2{
    font-size: 45px;
}

.business-checkbox{
    margin-top: 60px;
}

.fake-checkbox:hover{
    border: 5px solid blue;
}

.fake-checkbox{
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
}

.monthly-sold{
    margin-right: 40px;
    display: inline-block;
}

.annual-sold{
    display: inline-block;
}


/* PLANS*/

.plans{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}


.plans-left-col, .plans-center-col, .plans-right-col{
    width: 30%;
    margin: auto;
    border: 1px solid black;
}

.plans-row{
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0;
}

.plans-center-col{
    margin: 0 5%;
}

.plans-layout-container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.title-section{
    line-height:35px;
}

.month{
    color: grey;
}

.info-section{
    line-height: 25px;
    margin-top: 20px;
}

