*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

/* rules */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

/* Common */

.col{
    float: left;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    list-style-type: none;
}

.btn{
    border: 1px solid none;
    padding: 10% 15%;
}

.blue-button{
    background-color: #0061ff;
    color: white;
}

.blue-button:hover{
    background-color: #3c84ff;
}

/* images */

.discord-logo{
    height: 25px;
    width: auto;
    cursor: pointer;
    vertical-align: middle;
    
}

/* Header */
header{
    top: 0;
    width: 100%;
    height: 65.22px;
    text-align: center;
    position: fixed;
}

.header-container{
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 20px 0;
    
}

.header-container .col{
    float: left;
    padding: 0 20px;
}

.image-col{
    width: 10%;
    text-align: left;
}

.left-col{
    width: 40%;
    text-align: left;
    
}

.right-col{
    width: 50%;
    text-align: right;
    
}

.left-header-menu li{
    padding-right: 50px;
    font-weight: bold;
}

.right-header-menu li{
    padding-left: 50px;
    font-weight: bold;
}

#initial-button{
    margin-right: 40px;
    
}

/* MAIN */

main{
    margin-top: 65.22px;
}


.main-container{
    width: 100%;
}

.main-content{
    width: 100%;
    margin: auto;
    height: 700px;
    background-color: #b4d0e7;

}

.main-container h1{
    font-size: 75px;
}

.main-container{
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.main-layout{
    margin-top: 20px;
}

.text-col{
    width: 30%;
    
}

.img-col{
    width: 70%;
}